/* tout se qui touche au éléments de la page */
body{
    margin:0;
    display:flex;
    justify-content:center;
}
/* #btnMenu */
#menuBtn{
    position:fixed;
    top:10px;
    left:10px;
    width:50px;
    z-index:9;
}
/* fin #btnMenu */


/* le corps de la page accueil */
.productScroll{
    position:absolute;
    top:80px;
    padding:1%;
    width:85%;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#FADBD8;
    margin-bottom:50px;
}

.product{
    width:80%;
    height:210px;
    background-color:#EC7063;
    margin-bottom:10px;
    margin-top:10px;
    border-radius:25px;
    padding:1%;
    display:flex;
    align-items:center;
    
}

#divInfo p{
    color:white;
    font-weight:bold;
    margin:5px;
}

#divInfo h4{
    background-color:#34495E;
    padding:10px;
    color:white;
    border-radius:10px;
    margin:5px;
    margin-top:2%;
    display:block;
    width:100px;
    text-align:center;
}


#divInfo{
    margin:5px;
    border:0;
    width:60%;
    padding:1%;
}

.product a{
    color:white;
    border:0;
    width:100px;
    padding:8px;
    background-color:#BB8FCE;
    border-radius:20px;
    text-align:center;

}
.product button{
    color:white;
    background-color:#BB8FCE;
    border:0;
    text-align: center;
    font-weight:bold;
}
.product h3{
    margin:5px;
}

.product img{
    width:9rem;
}

.infoProduct{
    background-color:white;
    width:60%;
    height:80%;
    margin-left:15%;
    border-radius:20px;
}

/* page produit */

.productPage{
    position:absolute;
    top:80px;
    padding:1%;
    width:85%;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#FADBD8;
    margin-bottom:50px;
}

.productPage img{
    width:9rem;
    border-radius:10px;
    margin:5px;
}

.productPage span{
    background-color:pink;
    padding:5px;
    border-radius:10px;
    margin:4px;
}
.boite{
    background-color:white;
    display:flex;
    padding:5px;
    border-radius:15px;
    margin:8px;
    width:50%;
    align-items:center;
    justify-content:center;
}

.boite article{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:5px;
}
.boite p{
    text-align:center;
}
